
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrows {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-close {
	font-size:(8/16)*1rem;
	width:(8/8)*1em;
}
.icon-down_arrow {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-heart {
	font-size:(32/16)*1rem;
	width:(37/32)*1em;
}
.icon-list-1 {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-list-2 {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-logout {
	font-size:(15/16)*1rem;
	width:(14/15)*1em;
}
.icon-menu_arrow {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-minus {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-orders {
	font-size:(13/16)*1rem;
	width:(16/13)*1em;
}
.icon-pin {
	font-size:(16/16)*1rem;
	width:(12/16)*1em;
}
.icon-plus {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-profile {
	font-size:(15/16)*1rem;
	width:(14/15)*1em;
}
.icon-search {
	font-size:(16/16)*1rem;
	width:(16/16)*1em;
}
.icon-settings {
	font-size:(16/16)*1rem;
	width:(14/16)*1em;
}
.icon-shop {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-sliders {
	font-size:(32/16)*1rem;
	width:(28/32)*1em;
}
.icon-user {
	font-size:(32/16)*1rem;
	width:(32/32)*1em;
}
.icon-wishlist {
	font-size:(14/16)*1rem;
	width:(15/14)*1em;
}
